<% layout('layouts/boilerplate') %>

    <body>
        <h2>All Listings</h2>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
            <% for(let post of Allposts){ %>
                <a href="/listing/<%=post.id %>" class="listing-link">
                    <div class="card col">
                        <img src="<%= post.img%>" class="card-img-top" alt="listing image">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= post.title%>
                                </b> <br>
                                &#8377;<%=post.price.toLocaleString("en-IN") %> for 2 nights
                            </p>
                        </div>
                    </div>
                </a>
                <%}%>
        </div>


        <!-- <form action="/listing/new" method="get">
            <button>Add New Listing</button>
        </form> -->
    </body>